<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @receipt_item.receipt_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @receipt_item.item_id %>
</p>

<p>
  <strong>Item count:</strong>
  <%= @receipt_item.item_count %>
</p>

<%= link_to 'Edit', edit_receipt_item_path(@receipt_item) %> |
<%= link_to 'Back', receipt_items_path %>
