<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @account.employee_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
